.scale-up-animation {
    transition: 300ms;
}

.scale-up-animation:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.tilt-animation {
    transition: 300ms;
}

.tilt-animation:hover {
    transition: 300ms;
    transform: rotate(5deg);
}
